//
   Created by Saurabh on 10/02/2015.
html
  head
    link(rel="stylesheet", href="../static/bootstrap/css/bootstrap.min.css")
    //link(rel="stylesheet", href="static/css/home.css")
    link(rel="stylesheet", href="../static/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="../static/css/animate.css")
    script(src="../static/js/jquery-1.10.2.min.js")
    script(src="../static/bootstrap/js/bootstrap.min.js")
    script(src="../static/js/plugins.js")
    script(src="../static/js/Base64.js")
    script(src="../static/js/noty/packaged/jquery.noty.packaged.min.js")
    script(src="../static/js/noty/themes/relax.js")
    script(src="../static/js/noty/themes/bootstrap.js")
    script(src="../static/js/logout.js")
  title Plugin
  body
    div(class="container-fluid")
      div(class="row-fluid")
        div(class="span2", style="margin-top:2em")
          ul(class="nav nav-pills nav-stacked")
            li(role="presentation", class="active"): a(href="/plugins/") Plugins
            li(role="presentation"): a(href="/middlewares/") Middlewares
            li(role="presentation", class="list-group-item-danger"): a(href="/users/") Users
            li(role="presentation"): a(href="/devices/") Devices
            li(role="presentation"): a(href="javascript:logout()") Logout
        div(class="span10")
          h1 Plugins
          h3 Add Plugin
          form(class="form")
            div(class="group", style="margin: 0em 0px 0px 5em")
              strong(for="form-plugin-file", style="font-size: 1.5em;") Plugin File:
              input(type="file", id="form-plugin-file", class="form-control", placeholder="", required="", style="height:2em; margin-left:1em;")
              input(type="button", id="form-submit-button", value="Add Plugin" class="btn btn-default", onclick="addPlugin()" style="margin-left: 0.5em;")
          table(class="table table-hover animated fadeIn", id="plugins-table", style="margin-top:2em")
            thead
              tr
                th Plugin
                  th Events
                  th Triggers


